<a href="https://colab.research.google.com/github/Rizki-132/Allmateri/blob/main/Membuat_Dataset_Random.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
import pandas as pd
import numpy as np
import random

In [21]:
#Nama Nama penerima PKH
names = ["CEME", "JUMHADI", "AAN KUSNAEDI", "IDA FITRIA", "NURBAETI", "NURIAH", "RUSTIANAH", "TESIH", "UUN SUNARSIH", "JUNAEH", "HANAN", "TITI", "DARMIN", "SAKER",
         "NENTI", "ATORI", "RUMNAH", "SOTO", "IDA ROSIDA", "JUERIYAH", "RAHMAT", "SAID", "MAMAN DULMANAN", "UUN UNAYAH", "PARTA", "WARNITA", "SUHENDA",  "DASEM",
         "CARWADI", "MURSIH", "RUSMINI", "SITI MARYAM", "RUMANAH", "EYOH", "DARMA", "SARKONI", "NOAH", "TARMINAH", "SUMARNA", "ARHANI",  "WAHYU",  "SARKA", "ILAH",
         "KURSIH",  "ANTRI", "NURMUALIMAH",  "SUSI", "TIMU", "HENI SUKMAENI", "SABDA", "SUNARYA", "HATISAH", "DODO SUGANDA", "HARYATI", "SARKOCI", "MILA PUSPITASARI",
         "SUADAH", "PULUNG AKMAD", "NURHALIMAH", "MAMAY MARYANA", "KARWITA", "ICIH SETIAWATI", "HADNAN", "ENTIN WASTINAH", "ICAH", "TUDIN", "CICIH", "ADE YARAH", "ETI ROHAETI",
         "NANI", "DEDEH WIDANINGSIH", "WIWIN DAWINAH", "LASTRA", "BADRUDIN", "KOYI", "KARSINAH", "SUHAETI", "MUJID", "MUHIDIN", "SUDIRJA", "UMAR", "JUJU JUAERIYAH", "ANI RAHMADIAN",
         "SUMISNAH", "SAHWAN", "RATNAWATI", "EROM", "YANAH", "KARYANA", "ETI KURNIATI", "AWAPI", "ROHENDI", "RASIDI", "KURDI", "ISWADI", "ROJI", "HASIM", "ISOH", "JUBAEDAH", "SITI",
         "NUNUNG NURHAYATI", "SITI HANDASAH", "ATOMI", "NANTA", "HAMJAH SYAM", "UDI SAHMAN", "UJANG YONO", "SUMI", "MEMED", "DAHRO", "KAERUDIN", "SITI AISAH", "YANA", "NANA SUHARNA",
         "AMANAH", "ABUBAKAR S", "ATI", "MUSTAMAN", "KARMINI", "MUTINAH", "SATINI", "WASIRI", "DARMI", "AMINI", "SAPINGI", "DULMUIN", "CATU", "RIEM"
]

#Jenis Pekerjaan Contoh
jobs = ["Buruh", "Petani", "Guru", "Ibu Rumah Tangga", "Pedagang", "Sopir", "PNS", "Pengangguran", "Dokter", "Satpam"]

#Jenis Kelamin
genders = ["Laki-laki", "Perempuan"]

#Status Perkawinan
marital_status = ["Menikah", "Janda", "Duda", "Belum Menikah"]

#fungsi untuk menampillkan Nama Acak
def random_name():
    return random.choice(names)

#fungsi untuk menhasilkan data simulasi
def generate_data(num_entries):
    data = {
        "nama": [random_name() for _ in range(num_entries)],
        "umur": [random.randint(18, 65) for _ in range(num_entries)],
        "tempat lahir": ["Majalengka" for _ in range(num_entries)],
        "jenis pekerjaan": [random.choice(jobs) for _ in range(num_entries)],
        "jumlah penghasilan": [random.randint(0, 7000000) for _ in range(num_entries)],
        "jenis kelamin": [random.choice(genders) for _ in range(num_entries)],
        "jumlah keluarga (SD)": [random.randint(0, 3) for _ in range(num_entries)],
        "jumlah keluarga (SMP)": [random.randint(0, 3) for _ in range(num_entries)],
        "jumlah keluarga (SMA)": [random.randint(0, 3) for _ in range(num_entries)],
        "status perkawinan": [random.choice(marital_status) for _ in range(num_entries)],
    }
    return pd.DataFrame(data)

#Generate the data
df = generate_data(325)

# Save to CSV
df.to_csv('pkh_data_325.csv', index=False)

print("Data has been saved to 'pkh_data_325.csv'")

Data has been saved to 'pkh_data_325.csv'

In [23]:
df = pd.read_csv('pkh_data_250.csv')

df.head()

,nama,umur,tempat lahir,jenis pekerjaan,jumlah penghasilan,jenis kelamin,jumlah keluarga (SD),jumlah keluarga (SMP),jumlah keluarga (SMA),status perkawinan
0,WIWIN DAWINAH,37,Majalengka,Dokter,120047,Perempuan,2,3,0,Menikah
1,NURHALIMAH,27,Majalengka,Dokter,6086983,Laki-laki,0,3,0,Duda
2,EYOH,48,Majalengka,Petani,4447303,Perempuan,0,0,2,Menikah
3,DEDEH WIDANINGSIH,24,Majalengka,Pengangguran,5577999,Perempuan,0,2,3,Menikah
4,MAMAN DULMANAN,32,Majalengka,Sopir,5886015,Perempuan,3,1,1,Janda